<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Optional: Splunk Appender -->
    <appender name="Splunk" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://127.0.0.1:8088</url>
        <token>ae84f130-9829-4db0-a8aa-4da6735442ca</token>
        <index>notification_service_dev</index>
        <source>http-event-logs</source>
        <sourcetype>_json</sourcetype>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
        <verifySsl>false</verifySsl>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="Splunk" />
    </root>

</configuration>
